{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "safecollabapp/css/login.css" %}" rel="stylesheet">
    <script src="{% static "safecollabapp/js/recover.js" %}" type="text/javascript"> </script>


  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>SafeCollab</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h5>Fill out either the username or email of your account.</h5>
        </div>
      </div>
    </div>
    <br/>
    <div class="container" id="form-container">
      <div class="row">
  			<div class="col-md-6 col-md-offset-3">
  				<div class="panel panel-login">
  					<div class="panel-heading">
  						<div class="row">
  							<div class="col-xs-12">
  								<a href="" class="active" id="recover-link">Recover Password</a>
  							</div>
  						</div>
  						<hr>
  					</div>
  					<div class="panel-body">
              <div class="row">
                <div class="col-lg-12">
                  <div id="login-message">{{ recover_message }}</div> <!-- Tells the user if their user/pass was invalid -->
                </div>
              </div>
  						<div class="row">
  							<div class="col-lg-12">
  								<form id="recover-form" action="/recover_password/" method="post" role="form" style="display: block;">
                    {% csrf_token %}
  									<div class="form-group">
  										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
  									</div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-lg-12 text-center">
                          or
                        </div>
                      </div>
                    </div>
  									<div class="form-group">
  										<input type="text" name="email" id="email" tabindex="2" class="form-control" placeholder="Email Address">
  									</div>
  									<div class="form-group">
  										<div class="row">
  											<div class="col-sm-6 col-sm-offset-3">
  												<input type="submit" name="recover-submit" id="recover-submit" tabindex="4" class="form-control btn btn-login" value="Recover">
  											</div>
  										</div>
  									</div>
  								</form>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
    </div>
    <div class="footer">
        <p class="muted credit"> Site created and maintained by Bradley Barrett, Ryan Duffin, Liam Dwyer, and Nikhil Gupta.</p>
        <em>Copyright &copy; 2016</em>
    </div>
  </body>
</html>
